.actionButton {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 12vh;
    width: 11vh;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: bold;
    margin-left: .5vw;
    margin-right: .5vw;
}

.actionText { 
    height: 8vh;
}

.actionTextFaded { 
    height: 8vh;
}

.betActionButton {
    height: 3vh;
    width: 5vh;
    font-size: 1.2vh;
    margin: 0;
    border-radius: 5px;
}

.betContainer {
    display: flex;
    height: 12vh;
    flex-direction: column;
    justify-content: space-between;
}

.betActionButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5vw;
    margin-right: .5vw;
}

.actionButton:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.507), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.long {
    width: 24vh;
}

.medium {
    width: 20vh;
}

.input {
    height: 100%;
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 10px;
    outline-width: 0px;
    text-align: center;
}

.actionRow {
    height: 19vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.greenBack {
    background-color: #00D8D8;
    color: black;
}

.greenBackFaded {
    background-color: rgb(0, 97, 97);
    color: white
}

.redBack {
    background-color: #FF6978;
}

.yellowBack {
    background-color: rgb(255, 244, 147);
}

.blueBack {
    background-color: #3BB5F7;;
}

.greyBack {
    background-color: rgb(197, 197, 197);
    color: white;
}