.Player {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 3vh;
}

.Card {
    height: 10vh;
    width: 8vh;
    background-color: #FFFCF9;
    border-radius: 10px;
    text-align: center;
    font-size: 3vh;
}

.Hand {
    height: 10vh;
    width: 18vh;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PlayerBet {
    background-color: rgb(255, 244, 147);
    color: black;
    width: 16vh;
    height: 4vh;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 5px;
}

.red {
    color: #FF6978;
}

.blue {
    color: #78E3FD;
}

.black {
    color: #2F4858;
}

.green {
    color: #12EAEA;
}