.Player {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 3vh;
}

.tableCards {
    height: 10vh;
    width: 45vh;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Card {
    height: 10vh;
    width: 8vh;
    background-color: #FFFCF9;
    border-radius: 10px;
    text-align: center;
    font-size: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.349), 0 6px 20px 0 rgba(0, 0, 0, 0.616);
}

.TablePot {
    position: absolute;
    top: 10;
    background-color: rgb(255, 244, 147);
    color: black;
    width: 16vh;
    height: 4vh;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 5px;
}

.Hand {
    height: 10vh;
    width: 18vh;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PlayerBet {
    background-color: rgb(255, 244, 147);
    color: black;
    width: 16vh;
    height: 4vh;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 5px;
}

.red {
    color: #FF6978;
}

.blue {
    color: #3BB5F7;
}

.black {
    color: #2F4858;
}

.green {
    color: #00D8D8;
}